h1 {
	color: grey;
	text-align: center;
}

table {
	margin-top: 100px;
}

.center-screen {
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;	
}

table thead tr {
	background-color: blue;
	color: white;
	font-weight: bold;
	text-align: left;
}

table th,
table td {
	padding: 10px 15px;
}

.main-menu {
	background-color: blue;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 10px 15px;
	margin-top: 50px;
}

.update {
	background-color: orange;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 5px 5px;
}

.delete {
	background-color: red;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 5px 5px;
}

.add-button {
	margin-top: 30px;
	background-color: green;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 5px 5px;
}

.update-button {
	margin-top: 30px;
	background-color: orange;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 5px 5px;
}

a {
	color: blue;
	font-size: 30px;
}

p {
	margin-top: 100px;
	font-size: 20px;
}

label {
	color: grey;
	padding: 5px 5px;
}

.first-inner-div {
	margin-top: 100px;
}

.label-input {
	display: flex;
	justify-content: right;
	align-items: right;
	text-align: right;	
}